a{
    text-decoration: none;
    color: inherit;
}
li{
    list-style: none;
}

header main.home{
    display: grid;
    width: 100%;
    grid-template-columns: 3fr;
    position: relative;
}

li.compo.compoactive{
    background-color: rgba(20, 110, 236, 0.14);
    color: rgba(27, 27, 235, 0.677);
}
main  div.right{
    margin-inline: 2rem;
}
div.profile{
    left: 1%;
}
section.outlet{
    margin-bottom: 3rem;
}

main  div.about{
    position: absolute;
    top: 4rem;
    right:3rem;
    font-weight: 700;
    color: rgba(5, 6, 8, 0.445);    
}
@media screen and (min-width:1000px) {
    
    div.profile{
        left: 8%;
    }
}