a{
    text-decoration: none;
    color: inherit;
}
li{
    list-style: none;
}

header main.home{
    display: grid;
    width: 100%;
    grid-template-columns: 3fr;
    height: 95vh;
    overflow-x: hidden;
    position: relative;
}

li.compo.compoactive{
    background-color: rgba(20, 110, 236, 0.14);
    color: rgba(27, 27, 235, 0.677);
}
main  div.right{
    margin-inline: 2rem;
}
div.profile{
    left: 1%;
}
section.outlet{
    margin-bottom: 3rem;
}

main  div.about{
    position: absolute;
    top: 4.8rem;
    right:2.5rem;
    font-size: 10px;
    font-weight: 700;
    color: rgba(5, 6, 8, 0.181);    
}
@media screen and (max-width:1000px) {
    header main.home{
        overflow-x: auto;
    }
}